<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta lang="en-US">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/variables.css">

    <link rel="shortcut icon" href="/img/image_placeholder.png">

    <script defer type="module" src="/js/site.js"></script>
    <title>Animal Hotel</title>
</head>
<body>
    <header>
        <nav class="nav">
            NavBar
            <div>

            </div>
            <div>

            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div></div>
        Footer
    </footer>
</body>
</html>
