@model HomePageViewModel;

@{
    ViewData["Title"] = "Home Page";
}

@functions{
    string GetClassByModelState(HomePageViewModel state) => state.IsTriedToLogin ? "" : "hidden";
}


@section ScriptsAndStylesheets
{
    <link rel="stylesheet" href="/css/home_page.css"/>
    <script type="module" defer src="/js/home_page.js"></script>
}

<body>
    <header class="header__wrapper">
        <h1 class="header__h1">
            When
            <span class="text-highlight">pet care</span>
            meets the
            <span class="text-highlight">professionals</span>
        </h1>
        <h4 class="header__h4">A simpler animal hoteling for simpler life</h4>
        <button class="txt-btn btn__learn-more">Learn more &#8595;</button>
        <img class="header__img" src="/img/image_placeholder.png" alt="Header Image">
    </header>
    <section id="section--1">

    </section>
    <section id="section--2">
        
    </section>

    <div class="modal @GetClassByModelState(Model)">
        <button class="modal__close-btn">X</button>
        <h4 class="modal__h4">Enter into your <span class="text-highlight">animal hotel</span> account</h4>
        <form class="modal__form" asp-action="Login" asp-controller="LoginAndRegister" method="post">
            <input type="hidden" />
            <label id="login-lbl" class="form__label" asp-for="Login">Login</label>
            <input id="login-input" class="form__input" asp-for="Login" type="text" placeholder="Email or phone number" value="@Model.Login">
            <span id="login-validator" asp-validation-for="Login"></span>

            <label id="password-input" class="form__label" asp-for="Password">Password</label>
            <input id="password-input" class="form__input" asp-for="Password" type="password">
            <span id="password-validator" asp-validation-for="Password"></span>
                
            <button class="btn btn-submit btn-login" type="submit">Enter into account</button>
        </form>
        <a id="modal__register-link" asp-action="Register" asp-controller="LoginAndRegister">Don't have an account? Create new</a>
    </div>
    <div class="overlay @GetClassByModelState(Model)"></div>
</body>