* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@keyframes shadowAnimation {
  100% {
    box-shadow: calc(var(--index) * 0.5);
  }
}

body {
  background-color: var(--color-light);
}

header {
  /* height: calc(var(--index) * 4.5); */
  height: calc(var(--index) * 25);
}

.nav {
  background-color: rgb(255, 255, 255);
  display: block;
  height: calc(var(--index) * 4.5);
  width: 100%;
  z-index: 5;
  /* position: sticky; */
}

.shadow {
  animation-name: shadowAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

footer {
  display: block;
  height: calc(var(--index) * 12);
  width: 100%;
}
